.generator-container {
    padding: 20px;
    border: 2px solid #48505b;
    border-radius: 8px;
}

.label {
    margin-bottom: 10px;
}

.label-title {
    font-size: 20px;
    font-weight: bold;

}

select {
    font-size: 16px;
    padding: 10px;   
    color: #FFF;
    width: 100%;
    background-color: #48505b;
    border: solid 1px #48505b;
    border-radius: 5px;
    margin-top: 5px;
}

.text-input {
    font-size: 16px;
    padding: 10px;   
    color: #FFF;
    width: 100%;
    background-color: #48505b;
    border: solid 1px #48505b;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkbox {
    margin-right: 10px;
}

.headcode-response {
    padding: 10px;
    border: solid 2px #48505b;
    border-radius: 8px;
}

.regen-tip {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 2px #48505b;
    padding-top: 10px;
}