/* Line Status */
.status-container {
    border-top: solid 2px #808080;
    padding: 1em;
  }
  
  .status-title {
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-show {
    float: right;
  }
  
  .lines-container {
    padding-top: 1rem;
  }
  
  .status {
    display: flex;
    border-top: solid 1px #808080;
  }
  
  .status label {
    cursor: text;
  }
  
  .line-name {
    flex: 60%;
    padding: 10px;
  }
  
  .line-status {
    flex: 40%;
    padding: 10px;
  }
  
  .status .btn {
    float: right;
  }
  
  .update {
    padding: 10px;
    border-top: solid 1px #808080;
    color: #222222;
    background-color: #faf5e1;;
  }
  
  .update a {
    color: #0000fd;
    text-decoration: none;
  }