/* Line Colours */
.bakerloo {background-color: #894e24;}
.central {background-color: #dc241f;}
.circle {background-color: #ffce00; color: #000;}
.district {background-color: #007229;}
.hammersmith-and-city {background-color: #d799af; color: #000;}
.jubilee {background-color: #6a7278;}
.metropolitan {background-color: #751056;}
.northern {background-color: #000;}
.piccadilly {background-color: #0019a8;}
.victoria {background-color: #00a0e2; color: #000;}
.waterloo-and-city {background-color: #76d0bd; color: #000;}
.overground {background-color: #e86a10; color: #000;}
.elizabeth-line {background-color: #6950a1;}
.dlr {background-color: #00afad; color: #000;}
.trams {background-color: #66cc00;}

/* Status Colours */
.good-service {color: #00cc66;}
.minor-delays {color: #ff9900;}
.part-suspended {color: #ff9900;}
.suspended {color: #ff1a1a;}
.severe-delays {color: #ff1a1a;}