/* -- Global -- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  /* background: url(./img/tube-map.png) no-repeat center center fixed;
  background-size: cover; */
  background-color: #222222;
}

/* Navbar */
.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
  background-color: #2E2E2E;
}

/* Body Container */
.container {
  padding: 2rem;
}

/* Buttons */
.btn {
  color: lightslategrey;
  vertical-align: middle;
  cursor: pointer;
}

.btn:hover {
  color: #FFF;
}

/* Line Status */
.lines-container {
  background-color: #444444;
  max-width: 25%; 
  border-radius: 4px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.line {
  display: flex;
  width: 100%;
  border-top: solid 1px #808080;
}

.line label {
  cursor: text;
}

.line-name {
  flex: 60%;
  padding: 10px;
  color: white;
}

.line-status {
  flex: 40%;
  padding: 10px;
}

.btn-show {
  float: right;
}

.title {
  text-align: center;
  color: #fff;
  padding-bottom: 1rem;
}

.update {
  padding: 10px;
  border-top: solid 1px #808080;
  background-color: rgb(250,245,225, 0.5);
}

/* Filters */
.filters-container {
  color: #FFF;
  padding: 5px 0 5px 0;
  /* border: solid #2E2E2E 1px; */
}

.filters {
  margin-top: 5px;
}

.checkbox {
  color: #FFF;
  margin-left: 0.5rem;
  margin-right: 1rem;
  vertical-align: middle;
}

/* Footer */
.footer {
  bottom: 0;
  width: 100%;
  padding: 2rem;
  color: #FFF;
  background-color: #2E2E2E;
  text-align: center;
}