/* -- Global -- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222222;
  color: #FFF;;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cccccc; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  padding: 1rem;
  text-align: center;
  background-color: #2E2E2E;
}

.sidebar {
  background-color: #2E2E2E;
  width: 400px;
  height: 100vh;
  /* display: flex; */
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  overflow-y: scroll;
}

.sidebar.active {
  left: 0;
  transition: 450ms;
}

.btn-menu {
  font-size: 2rem;
  float: left;
}

.nav-toggle {
  font-size: 2rem;
  padding: 1rem;
}

/* Body Container */
.container {
  min-height: 100vh;
  padding: 2em 2em 1em 2em;
}

.network-title {
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 20px;
}

/* Buttons */
.btn {
  color: lightslategrey;
  cursor: pointer;
}

.btn :hover {
  color: #FFF;
}

.icon {
  vertical-align: middle;
  margin-left: 5px;
}

/* Line Status */
.status-container {
  border-top: solid 2px #808080;
  padding: 1em;
}

.status-title {
  font-size: 18;
}

.btn-show {
  float: right;
}

.lines-container {
  padding-top: 1rem;
}

.status {
  display: flex;
  border-top: solid 1px #808080;
}

.status label {
  cursor: text;
}

.line-name {
  flex: 60%;
  padding: 10px;
}

.line-status {
  flex: 40%;
  padding: 10px;
}

.status .btn {
  float: right;
}

.update {
  padding: 10px;
  border-top: solid 1px #808080;
  color: #222222;
  background-color: #faf5e1;;
}

.update a {
  color: #0000fd;
  text-decoration: none;
}

/* Filters */
.filters-container {
  padding: 5px 0 5px 0;
}

.filters {
  margin-top: 5px;
  padding-top: 5px;
  border-top: solid 1px #808080;
}

.dropdown {
  color: #FFF;
  background-color: #444444;
  font-size: 14px;
  padding: 4px;
  border-radius: 5px;
}

/* Footer */
.footer {
  bottom: 0;
  width: 100%;
  padding: 2rem;
  background-color: #2E2E2E;
  text-align: center;
}