/* -- Global -- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  /* background: url(./img/tube-map.png) no-repeat center center fixed;
  background-size: cover; */
  background-color: #222222;
}

/* Navbar */
.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
  background-color: #2E2E2E;
}

/* Body Container */
.container {
  padding: 2rem;
}

/* Line Status*/
.btn-icon {
  color: lightslategrey;
  float: right;
  vertical-align: middle;
  cursor: pointer;
}

.title {
  text-align: center;
  color: #fff;
  padding-bottom: 1rem;
}

.lines-container {
  background-color: #444444;
  max-width: 25%;
  border-radius: 4px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.line {
  display: flex;
  width: 100%;
  border-top: solid 1px #808080;
}

.line-name {
  flex: 60%;
  padding: 10px;
  color: white;
}

.line-status {
  flex: 40%;
  padding: 10px;
}

.update {
  padding: 10px;
  border-top: solid 1px #808080;
  background-color: rgb(250,245,225, 0.5);
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 2rem;
  color: #FFF;
  background-color: #2E2E2E;
  text-align: center;
}